<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head');  %>
</head>
<body>
    <%- include('./partials/nav')%>
    <div style="height: 80vh;">
        <h1>Producto guardado</h1>
        <a href="/form" class="btn btn-success">Cargar otro Producto</a>
        <a href="/getAll" class="btn btn-secondary">Ver Productos</a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>